form {
  width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

label{
    color: aqua;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}


input[type="submit"] {
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkorange;
}

input[type="reset"] {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

input[type="reset"]:hover {
  background-color: darkgray;
}



        